<div class="row mt-5 mb-3">
    <div class="col-12 col-md-4">
        <div class="form-group mb-2">
            <mat-form-field class="productname-input" appearance="fill">
                <mat-label>Nombre del Producto</mat-label>
                <input type="text" placeholder="Arroz Campos - 10 lb" matInput>
            </mat-form-field>
        </div>
        <div class="form-group">
            <label for="">Imagen del Producto</label>
            <input type="file" class="form-control">
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="form-group">
            <label for="">Preview de la imagen</label>
            <img src="" alt="" class="img-fluid">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-3">
        <button type="button" mat-button color="primary">Guardar Datos</button>
    </div>
</div>